h1, h2, h3, h4, h5, h6, h6, p {
	color: white;
	text-align: center;
	font-family: sans-serif, system-ui;
	font-size: large;
	font-weight: bold;
}

body {
	background-color: black;
}

a:link a:visited { /* Unvisited links */
	color: #b6d7a8;
	text-decoration: underline;
	text-align: center;
	font-family: sans-serif, system-ui;
	font-size: large;
	font-weight: bold;
}
